:root {
  --negro: #0b0b0b;
  --dorado: #b89b5e;
  --blanco: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--negro);
  color: var(--blanco);
  line-height: 1.6;
}

/* LOGO HEADER */
.header .logo img {
  width: 80px;      /* ancho fijo inicial */
  height: auto;     /* mantiene proporción */
}

/* Responsive para móvil */
@media (max-width: 768px) {
  .header .logo img {
    width: 60px;    /* más pequeño en móvil */
  }
}
h1, h2, h3, h4 {
  font-family: 'Cinzel', serif;
  color: var(--dorado);
}


h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

a:hover {
  color: var(--dorado);
}


.social-icons a:hover {
  color: var(--blanco);
  transform: scale(1.2);
}
.footer-container {
  display: flex;
  justify-content: flex-end;   /* centra el footer */
  margin-bottom: 60px;
  margin-right: 200px;
}

/* MAIN CONTENT */
main {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

section {
  margin-bottom: 30px;
}
