.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 70px;             
  background-color: var(--negro);
  border: 0px solid var(--dorado);
  border-radius: 20px;
  max-width: 900px;       
  margin: 10px auto;      
}
.hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; 
}
.hero h2 {
  font-size: 2.5rem;
  color: var(--dorado);
}

.hero p {
  font-size: 1.2rem;
  color: var(--blanco);
  max-width: 600px;
}





/* CARDS */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: var(--negro);
  border: 2px solid var(--dorado);
  border-radius: 15px;
  width: 220px;
  color: var(--blanco);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px var(--dorado);
}

.card-header {
  background-color: var(--dorado);
  color: var(--negro);
  padding: 10px 0;
  font-family: 'Cinzel', serif;
}
.card-header.small {
  font-size: 1rem;
}
.card-image img {
  width: 100%;
  display: block;
  border-bottom: 2px solid var(--dorado);
}

.card-stats {
  padding: 10px;
  font-size: 0.9rem;
}

/* BOTONES */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dorado);
  color: var(--negro);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 100px;
}


.btn:hover {
  background-color: #1e1c1a;
}


.aventura {
  max-width: 700px;             
  padding: 30px;
  background-color: rgba(11, 11, 11, 0.85); 
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 20px var(--dorado); 
  margin-bottom: 100px;
}

.aventura h3 {
  font-size: 2rem;
  color: var(--dorado);
  margin-bottom: 15px;
}

.aventura p {
  font-size: 1.1rem;
  color: var(--blanco);
  line-height: 1.5;
}

/* SECCION ANIMACION */
.animacion {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin: 50px 20px;       
}




/* RESPONSIVE */
@media (max-width: 768px) {
  .animacion .dado-svg {
    width: 150px; 
  }
}
