form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  background: transparent;
  border: 1px solid var(--blanco);
  padding: 0.8rem;
  color: var(--blanco);
}

input:invalid, textarea:invalid {
  border-color: red;
}

input:valid, textarea:valid {
  border-color: var(--dorado);
}
